{% extends 'base.html' %}

{% block content %}

<h1>New Song Form</h1>
<div id="new-song">
    <form method="POST">
        {{ form.hidden_tag() }} 
    
        <div>
            {{ form.title.label }} 
            {{ form.title(size=40) }} >
            {% for error in form.title.errors %} 
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    
        <div>
            {{ form.artist.label }} 
            {{ form.artist(size=40) }} 
            {% for error in form.artist.errors %} 
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    
        <div>
            <input type="submit" value="Add Song">
        </div>
    </form>
</div>

{% endblock %}